@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --linear-grad: linear-gradient(to right, #141E30, #243B55);
  --grad-clr1: #141E30;
  --grad-clr2: #243B55;
}

@media (prefers-color-scheme: light) {
  :root {
    --linear-grad: linear-gradient(to right, #141E30, #243B55);
    --grad-clr1: #141E30;
    --grad-clr2: #243B55;
  }
}

body {
  height: 100vh;
  background: #f6f5f7;
  display: grid;
  place-content: center;
  font-family: 'Poppins', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
h1{
  color: var(--grad-clr1);
  display: block;
  font-size: 2em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
}

spam{
  font-size: 12px;
}
.infield{
  position: relative;
  margin: 8px 0px;
  width: 100%;
}
input{
  width: 100%;
  padding: 12px 15px;
  background-color: #f3f3f3;
  border: none;
  outline: none;
}
label{
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  width: 0%;
  height: 2px;
  background: var(--linear-grad);
  transition: 0.3s;
}
input:focus ~ label{
  width: 100%;
}
a{
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0px;
}
a.forget{
  padding-bottom: 3px;
  border-bottom: 2px solid #EEE;
}
button{
  border-radius: 20px;
  border: 1px solid var(--grad-clr2);
  color: #FFF;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.form-container button{
  margin-top: 17px;
  transition: 80ms ease-in;
}
.form-container button:hover{
  background: #fff;
  color: black !important;
}
.overlay-container{
  position: absolute;
  top: 0;
  left: 60%;
  width: 40%;
  height: 100%;
  overflow: hidden;
  transition: transform 0,6s ease-in-out;
  z-index: 9;
}
#overlayBtn{
  cursor: pointer;
  position: absolute;
  left: 50%;
  top: 304px;
  transform: translateX(-50px);
  width: 143.67px;
  height: 40px;
  border: 1px solid #FFF;
  background: transparent;
  border-radius: 20px;
}
.overlay{
  position: relative;
  background: var(--linear-grad);
  color: #FFF;
  left: -150%;
  height: 100%;
  width: 250%;
  transition: transform 0.6s ease-in-out;
}

.overlay-left{
  right: 60%;
  transform: translateX(-12%);
}
.overlay-left{
  right: 0;
  transform: translateX(0%);
}

p{
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 25px 0px 35px;
}

.right-panel-active .overlay-container{
  transform: translateX(-150%);
}
.right-panel-active .overlay{
  transform: translateX(50%);
}
.right-panel-active .overlay-left{
  transform: translateX(25%);
}
.right-panel-active .overlay-right{
  transform: translateX(35%);  
}
.right-panel-active .sign-in-container{
  transform: translateX(20%);
  opacity: 0;
}
.right-panel-active .sign-up-container{
  transform: translateX(66.7%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}
@keyframes show{
  0%,50%{
      opacity: 0;
      z-index: 1;
  }
  50.1%,100%{
      opacity: 1;
      z-index: 5;
  }
}
.btnScaled{
  animation: scaleBtn 0.6s;
}
@keyframes scaleBtn{
  0%{
      width: 143.67px;
  }50%{
      width:250px;
  }0%{
      width: 143.67px;
  }
}
